<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitproof.mediapipe">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
    </application>

</manifest>